.header {

    position: fixed;
    right: 30px;
    top: 30px;
    font-family: madim;

    .menu {

        width: 350px;
        height: 350px;
        background-color: #e7e7e7;
        border-radius: 25px;
        position: relative;

    }
}